[report]
exclude_lines =
    pragma: no cover

    if __name__ == .__main__.:

    except Exception
    raise NotImplementedError
    pass
    return NotImplemented

    migrations

    def test_

omit =
    */tests/*
    */migrations/*
    */__init__.py