[report]
exclude_lines =
    pragma: no cover

    if __name__ == "__main__":

    except Exception
    raise NotImplementedError
    pass
    return NotImplemented

    migrations

    

omit =
    */migrations/**
    */__init__.py
    manage.py
    */settings.py
    */urls.py
    */test/**
    run-sonar.ps1
    .github/**
    .venv/**
    .vscode/**
    */__pycache__/**
    build.sh
    staticfiles/**
    .coveragerc
    .coverage
    .gitignore
    coverage.xml
    db.sqlite3
    requirements.txt
    run-sonar.ps1
    sonar-project.properties
    */tests.py
    */admin.py
    */apps.py
    tienda/**
    */management/**


